body{
font-family: Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

form{
background:white;
padding:30px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
display:block;
margin-bottom:10px;
padding:8px;
width:250px;
}

button{
padding:8px 15px;
background:#007BFF;
color:white;
border:none;
cursor:pointer;
}