body{
font-family: Arial, sans-serif;
background: linear-gradient(120deg,#2980b9,#6dd5fa);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

form{
background:white;
padding:30px;
border-radius:10px;
width:300px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h2{
text-align:center;
}

input{
width:100%;
padding:10px;
margin:8px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#2980b9;
border:none;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1f6391;
}
